.whole {
  padding-top: 75px;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.animalDetails {
  min-width: 450px;
  min-height: 500px;
  max-width: 450px;
  max-height: 500px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(177,130,183);
  background: linear-gradient(0deg, rgba(177,130,183,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 10px;
  margin-bottom: 30px;
  position: absolute; 
  left: 9vw;
  top: 160px; /* Moved down 100px */
  filter: drop-shadow(0px 0px 7px #6b6b6b);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.animalDetails img {
  position: relative;
  top: 25px;
  width: 300px;
  height: 300px;
  z-index: 1;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.animalDetails h2 {
  font-size: 48px;
  color: #000000;
  margin-bottom: 1px;
  margin-top: 30px;
  font-family: 'Quicksand';
}

.animalDetails h3 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: lighter;
}

.animalProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8F7F4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.animalProfile img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 1px solid #B784B7;
}

.animalProfile h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.animalProfile p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.tabs {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1px;
  left: calc(7vw + 450px + 30px);
  top: 25vh;
}

.tab {
  width: 200px;
  padding-left: 10px;
  padding-right: 8px;
  background: rgb(195,177,225);
  background: linear-gradient(0deg, rgba(248,200,220,1) 0%, rgba(195,177,225,1) 100%);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat';
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.1);
}

.tab h2 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tab:hover {
  background: rgb(220, 180, 240);
  background: linear-gradient(0deg, rgba(255, 230, 240, 1) 0%, rgba(220, 180, 240, 1) 100%);
}

.tab.active {
  background: rgb(220, 180, 240);
}

.aboutPet {
  width: 51%;
  height: 400px;
  padding: 20px;
  background: rgb(195,177,225);
  background: linear-gradient(0deg, rgba(195,177,225,1) 0%, rgba(248,200,220,1) 100%);
  border-radius: 10px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5), 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  position: absolute; 
  left: calc(7vw + 450px + 30px);
  top: 33.4vh;
}

.aboutPet p {
  font-size: 21px;
  overflow: hidden;
  margin-bottom: 10px;
  letter-spacing: .15em;
  animation: fadeIn 1s forwards;
  line-height: 1.5;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

/*arrow design*/
.back-to-profile {
  position: fixed;
  top: 19vh;
  left: 4vh;
  z-index: 999;
  cursor: pointer;
  transition: left 0.3s ease;
  width: 80px;
  height: 80px;
}
.back-to-profile img{
  width: 100%;
  height: auto;
}

.indi-footer {
  background-color: #ed828e;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 100vh;
}