.Title {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px; 
  margin-top: 55px;
  color: white;
  font-size: 50px;
  font-family: 'Chewy', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 3px; 
  padding: 15px;
}

.grid-item {
  text-align: center; 
  font-size: 25px; 
  margin: 10px 0; 
}

.grid-item img {
  width: 100%; 
  height: auto; 
  max-width: 350px;
}

.grid-item p {
  border: 3px solid white;
  font-family: 'Antic', sans-serif; 
  font-weight: 600;
  padding: 10px 15px; 
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 5px; 
  width: fit-content;
  margin-left: 200px;
}

.Page {
  background-color: #f0d2e8;
}
