body,
html {
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Antic&family=Chewy&family=Cherry+Swash:wght@400;700&display=swap');


.background {
    background-image: url('../assets/bgs/wn_bg.png');
    /* Path to your image */
    background-size: cover;
    /* Makes sure the image covers the whole section */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    transition: all 0.5s ease-in-out;
    height: 100vh;
}

/* Section 0 */
.section-0 {
    display: flex;
    position: relative;
    /* Enables Flexbox layout */
    justify-content: center;
    flex-direction: column;

}

.section0-container {
    display: flex;
    /* Enables Flexbox layout */
    justify-content: space-between;
    /* Spaces out the child elements */
    align-items: center;
}

.s1Wrapper-left {
    flex: 1;
    /* Allows this div to take up available space */
    padding: 20px;
    /* Optional: Adds padding around the content */
    box-sizing: border-box;
    margin-left: 100px;
}

.s1Txt {
    text-align: left;
}

.s1Txt h1 {
    font-size: 15vh;
    /* Adjust font size as needed */
    margin: 0;
    /* Removes default margin */
    font-family: 'Chewy', sans-serif;
}

.s1Txt h2 {
    font-size: 3.5vh;
    /* Adjust font size as needed */
    margin: 10px 0;
    /* Adds space above and below */
    font-family: 'Antic', sans-serif;
}

.s1Wrapper-right {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Centers the image horizontally within its container */
    align-items: center;
    /* Centers the image vertically within its container */
    padding: 20px;
}

.s1Wrapper-right img {
    width: 700px;
    /* Ensures the image does not exceed the container's width */
    height: auto;
}

/* Section 2 */
.section-1 {
    position: relative;
}

.section1_container {
    position: absolute;
    min-width: 99vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.section-1 h1 {
    font-size: 5rem;
    /* Adjust font size as needed */
    margin: 0;
    /* Removes default margin */
}

.section-1 h2 {
    font-size: 1.5rem;
    /* Adjust font size as needed */
}

.s2wrapper-left {
    background-color: #c2bbbf;
    border-radius: 1vh;
    padding: 2.5vh;
    outline: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.s2wrapper-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-weight: lighter;
}

.s2Txt2-container {
    display: flex;
}

.s2Txt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Chewy', sans-serif;
}

.s2Txt2 h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Antic', sans-serif;
}

.s1image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
}

.animal-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 75px; 
    padding: 45px;
  }
  
.animal-images img {
    width: 300px; 
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px; 
}
  
.section-1 .profile-image {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}